<nav class="nav">
  <div class="nav__left">
    <div class="facebook-logo">
      <img
        src="../assets/images/Facebook_f_logo_(2021).svg.png"
        alt="logo"
        width="40"
        height="40"
      />
    </div>
    <div class="input-box__text">
      <label for="search-input"
        ><input type="search" id="search-input" placeholder="Search Facebook"
      /></label>
    </div>
  </div>
  <div class="nav__middle">
    <div class="facebook-icons">
      <div class="facebook-icons__icon active">
        <i class="ri-home-heart-fill"></i>
      </div>
      <div class="facebook-icons__icon"><i class="ri-movie-line"></i></div>
      <div class="facebook-icons__icon"><i class="ri-store-line"></i></div>
      <div class="facebook-icons__icon"><i class="ri-group-2-line"></i></div>
      <div class="facebook-icons__icon"><i class="ri-gamepad-line"></i></div>
    </div>
  </div>

  <div class="nav__right">
    <div class="facebook-services">
      <div class="user-icon">
        <img
          src="/assets/images/user-img.jpg"
          alt="user image"
          class="rounded-img"
        />
      </div>

      <div class="facebook-services__service"><i class="ri-grid-fill"></i></div>
      <div class="facebook-services__service">
        <i class="ri-messenger-fill"></i>
      </div>
      <div class="facebook-services__service">
        <i class="ri-notification-2-fill"></i>
      </div>
      <div class="facebook-services__service">
        <i class="ri-arrow-down-s-fill"></i>
      </div>
    </div>
  </div>
</nav>
