.page-content {
  @include flex(space-between, top);
  padding: $primary-padding;
  &__left {
    flex: 25% 0 0;
    background-color: red;
    max-width: $sidebar-width;
  }
  &__middle {
    flex: 50% 0 0;
    background-color: green;
    max-width: $feed-width;
  }
  &__right {
    flex: 25% 0 0;
    background-color: blue;
    max-width: $sidebar-width;
  }
}
