<div class="wrapper">
  <ul class="facebook-shortcuts">
    <li class="facebook-shortcuts__shortcut">
      <i class="ri-user-2-fill"></i
      ><span class="facebook-shortcuts__shortcut__text"></span>
    </li>
    <li class="facebook-shortcuts__shortcut">
      <i class="ri-group-2-line"></i
      ><span class="facebook-shortcuts__shortcut__text"></span>
    </li>
    <li class="facebook-shortcuts__shortcut">
      <i class="ri-movie-line"></i
      ><span class="facebook-shortcuts__shortcut__text"></span>
    </li>
    <li class="facebook-shortcuts__shortcut">
      <i class="ri-store-line"></i
      ><span class="facebook-shortcuts__shortcut__text"></span>
    </li>
    <li class="facebook-shortcuts__shortcut">
      <i class="ri-history-fill"></i
      ><span class="facebook-shortcuts__shortcut__text"></span>
    </li>
  </ul>
</div>
